.heading{
    background-color: lightgreen;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:antiquewhite;
}

.block{
    display:block;
    background-color: lightblue;
}

.inline{
    display:inline;
    background-color: lightcoral;
}